*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Arial;
}

.contenedor{
    padding: 60px 0;
    width: 90%;
    max-width: 1000px;
    margin: auto;
    overflow: hidden;
}

.titulo{
    color: #642a73;
    font-size: 30px;
    text-align: center;
    margin-bottom: 60px;
}

/* hearder */

header{
    width: 100%;
    height: 600px;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, rgba(21, 101, 192, 0.63), hsla(2, 65%, 44%, 0.63)), url(../imagenes/portada.jpg);  
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, rgba(21, 101, 192, 0.63), hsla(2, 65%, 44%, 0.63)), url(../imagenes/portada.jpg); 
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background-size: cover;
    background-attachment: fixed;
    position: relative;
}

nav{
    text-align: right;
    padding: 30px 50px 0 0;
}

nav > a{
    color: #fff;
    font-weight: 300;
    text-decoration: none;
    margin-right: 10px;
    position: relative;
}

nav > a:hover{
    text-decoration: underline;
}

header .textos-header{
    display: flex;
    height: 430px;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.textos-header h1{
    font-size: 70px;
    color: white
}

.textos-header h2{
    font-size: 30px;
    color: white;
    font-weight: 300;
}
.wave{
    position: absolute;
    bottom: 0;
    width: 100%;
}

/* Noticias */

.noticias-franco{
    background: white;
    padding-bottom: 30px;
}


.noticia-ind{
    width: 40%;
    text-align: center;
    border: 1px black solid;
    float: left;
    padding: 1em;
}

.noticia-ind img{
    width: 45%;

}

.noticia-ind h3{
    margin: 10px 0;
}

.noticia-ind p{
    font-weight: 300;
    text-align: justify;
}
