.menu{
    background: salmon;
    display: block;
    text-align: center ;
    padding: 0;
    position: fixed;
    width: 100%;
}
.item{
    font-size: 1.5rem;
    display: inline-block;
    margin-left: 3em;
    margin-right: 3em;
    color: white;
    text-decoration: none;
}
.submenu{
    margin: 0;
    padding: 0;
    list-style: none;
    position: absolute;
    font-size: 1rem;
}
.header__titulo{

}