*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: Arial;
}



/* imagenes */
img{
    border-radius: 60px;
}
/* navegacion */
.navegacion{
    width: 100%;
    text-align: right;
    padding-top: 15px;
    padding-right: 20px;
}
.navegacion ul{
    list-style: none;
}
.menu{
    position: relative;
}
.menu > li{
    position: relative;
    display: inline-block;
}
.menu > li > a {
    display: block;
    padding: 20px 15px;
    color: #ffff;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    transition: all .4s ease;
}
.menu li a:hover{
    font-size: 120%;
}
/* submenu */
.submenu{
    padding-left: 10px;
    position: absolute;
    visibility: hidden;
    opacity: 0;
} 
.submenu{
    z-index: 1;   
}
.submenu li a {
    margin: inherit;
    display: block;
    padding: 15px 0px 15px 5px;
    color: #ffff;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    text-align: center;
    transition: all .4s ease;
}
.menu li:hover .submenu{
    visibility: visible;
    opacity: 1;
}
/* header */
/* hearder */

header{
    width: 100%;
    height: 600px;
    background: #8360c3;  
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right,  hsla(0, 77%, 44%, 0.246), hsla(261, 53%, 19%, 0.582)), url(../imagenes/portada.jpg);  
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right,  hsla(0, 77%, 44%, 0.246), hsla(261, 53%, 19%, 0.582)), url(../imagenes/portada.jpg); 
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background-size: cover;
    background-attachment: fixed;
    position: relative;
}
.contenedor{
    padding: 60px 0;
    width: 90%;
    max-width: 1000px;
    margin: auto;
    overflow: hidden;
}
header .textos-header{
    position: static;
    display: flex;
    height: 430px;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;

}
.textos-header{
    position: relative;
    padding: 0;
    margin: auto;
}

.textos-header h1{
    font-size: 50px;
    color: white
}

.textos-header h2{
    font-size: 30px;
    color: white;
    font-weight: 300px ;
}

.titulo{
    color: #642a73;
    font-size: 30px;
    text-align: center;
    margin-bottom: 60px;
}
/* portada */
.wave{
    position: absolute;
    bottom: 0;
    width: 100%;
}

/* secundaria profesores */
.secundaria__prof1{
    display: flex;
}
.secundaria__prof2{
    display: flex;
}
.secundaria__parrafo{
    display: block;
    width: 300px;
    height: 200px;
}

.secundaria__bloque1{
    float: left;
    width: 50%;
    display: block;
    background: linear-gradient(to left, hsl(0, 0%, 100%), hsl(193, 21%, 87%)); 
    padding-bottom: 30px;

}
.secundaria__bloque2{
    width: 50%;
    float: right;
    display: block;
    padding-bottom: 30px;
    background: linear-gradient(to right, hsl(0, 0%, 100%), hsl(193, 21%, 87%));  
}
.secundaria__imagen1{
    display: block;
}
.titulo__secundaria{
    display: block;
    text-align: center;
}
.titulo__secundaria1{
    display: block;
    text-align: center;
} 
/* secundaria titulos */
.secundaria{
    display: inline;
    text-align: center;
    margin-block-start: 100px;
}
.secundaria__titulo{
    padding: 20px;
    color: rgba(85, 35, 35, 0.746);
    display: block;
    background: white;
    font-size: 30px;
    font-weight: 30px;
    font-family: Arial, Helvetica, sans-serif;
}  
/* el numerito ese */
span{
    background: #4d0686;
    color: white;
    border-radius: 50%;
    display: inline-block;
    text-align: center;
    width: 30px;
    height: 30px;
    padding: 4px;
    box-shadow: 0 0 6px 0 rgb(0, 0, 5);
    margin-right: 5px;
}
/* footer */
footer{
    background: #3a2f2d;
    padding: 60px 0 30px 0;
    margin: auto;
    overflow: hidden;
    clear: both;
}

.contenedor-footer{
    display: flex;
    width: 90%;
    justify-content: space-evenly;
    margin: auto;
    padding-bottom: 50px;
    border-bottom: 1px solid #ccc;
}

.content-foo{
    text-align: center;
}

.content-foo h4{
    color: #fff;
    border-bottom: 3px solid #ddd2cc;
    padding-bottom: 5px;
    margin-bottom: 10px;
}

.content-foo p{
    color: #fff;
}

.titulo-final{
    text-align: center;
    font-size: 24px;
    margin: 20px 0 0 0;
    color: #cdd5d9;
}

