<div class="navegacion_contenedor">
	<input type="checkbox" id="check" />
	<label for="check" class="fas fa-align-justify" id="label"></label>
	<nav class="navegacion">
		<ul class="menu">
			<li class="item"><a href="/">Inicio</a></li>
			<li class="item"><a href="/conocenos">Conócenos</a></li>
			<li class="item"><a href="/noticias">Noticias</a></li>
			<li class="item">
				<a href="#">Docentes <i class="fas fa-chevron-down"></i></a>
				<ul class="submenu">
					<li class="sub_item">
						<a href="/maestros/inicial">Inicial</a>
					</li>
					<li class="sub_item">
						<a href="/maestros/primaria">Primaria</a>
					</li>
					<li class="sub_item">
						<a href="/maestros/secundaria">Secundaria</a>
					</li>
				</ul>
			</li>
			<li class="item"><a href="#">Más</a></li>
		</ul>
	</nav>
</div>
